[2014-11-12 10:06] manumaticx opened #4 "support MapView"
ref: https://github.com/Tripvi/Ti.DrawerLayout/issues/7

[2014-12-17 10:15] manumaticx opened #7 "Drawer discounts the Theme"
All Views within the Drawer (centerView, leftView and rightView) are ignoring custom Themes.

Edit: Apparently this affects only some controls like textfields for example.

[2014-12-25 13:51] granit1986 opened #8 "Drawer in all activities in application"
Hello.
I have >10 windows and trying add drawer in they all.
How I can do that?

[2015-01-05 09:28] manumaticx commented on #8
@granit1986 Hi. As stated [here](https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App#limitations) there isn't a really smart way of achieving this, for now. I'll think about another solution.

[2015-01-12 09:33] manumaticx opened #9 "Webview issues"
It seems there are problems with WebViews:
https://github.com/Tripvi/Ti.DrawerLayout/issues/48

Probably another Fragment-related issue.

[2015-01-23 10:53] PierreGUI opened #10 "Using a Slider inside the drawer's view"
Hey guys,
I'm trying to use a slider in the drawer, unfortunately I can't slide it: it slides the drawer. :(
Here is a small test app: https://gist.github.com/PierreGUI/d47090cce2a5cbada4f7

Hope we can do something about it.
Cheers
Pierre

[2015-01-23 12:43] manumaticx commented on #10
Hi @PierreGUI

I found a workaround. It's quick-and-dirty but it works.

Actually, I would have to tweak the Slider or to be precise the TiViewProxy in the Titanium SDK. But I have added a method to the Drawer Proxy that lets you do the following:

[code]

The `interceptTouchEvent` method is available in the 1.2.1 dist that I've just updated. This should solve your issue.

[2015-01-23 12:49] PierreGUI commented on #10
Man, you rock :+1: !
Thanks a lot

[2015-01-23 12:49] #10 closed

[2015-01-23 12:52] manumaticx commented on #10
You're welcome! Does it work for you? (I've used you test app)

[2015-01-23 13:46] PierreGUI commented on #10
YES ! :)

[2015-02-04 16:01] mokesmokes commented on #4
The Ti.map API will need to be modified to receive the container somehow.

[2015-02-04 16:25] manumaticx commented on #4
@mokesmokes Thanks for having a look. I really was hoping for your help!

As I [commented on the ti.map issue](https://github.com/appcelerator-modules/ti.map/issues/77#issuecomment-72496676) the TiUIFragment instance seems to lose its self-created container. I'm not sure if this is only happens when nesting the map in another fragment because the crash can be reproduced without a parent fragment.

[2015-02-04 19:23] mokesmokes commented on #4
The reason is that you need to add the map to your fragment, but the current Ti.Map and TiUiFragment have no reference to your fragment. So basically, this functionality needs to be added. See http://stackoverflow.com/questions/13733299/initialize-mapfragment-programmatically-with-maps-api-v2 for maps in a fragment.

[2015-02-05 08:59] dyan02 opened #12 "drawer listener no longer firing when set windowActionBar to false in custom theme"
when i try to hide windowActionBar in custom theme,

here is my custom theme
`
<?xml version="1.0" encoding="utf-8"?>
<resources>
    <style name="Theme.NoActionBar" parent="@style/Theme.Titanium">
        <item name="windowActionBar">false</item>
    </style>
</resources>
`

i no longer receive fire event from drawer..
`
 drawer.addEventListener('draweropen', function(e) {
            Ti.API.info

[2015-02-05 12:33] #12 closed

[2015-02-05 12:34] manumaticx commented on #12
Thanks for reporting. Fixed! :)

[2015-02-09 12:03] muka commented on #4
Hi @mokesmokes
I've worked a bit on the ti.map module and I'd be happy to help out on this.

I've tried following the approach you used in this commit (https://github.com/appcelerator/titanium_mobile/commit/f1925ac69c1a09ddc99c75f11be54cf1bd3483ee) and in the link above (by extending SupportMapFragment) with no luck, the same error pop out (resource not found)

I've also tried to "clone" the TiUIF

[2015-02-09 12:41] deckameron opened #13 "Unable to start activity..."
I can't get it to work.

[ERROR] :  TiApplication: (main) [134,134] Sending event: exception on thread: main msg:java.lang.RuntimeException: Unable to start activity ComponentInfo{com.douglas.sdk40/org.appcelerator.titanium.TiActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'android.view.ViewGroup$LayoutParams android.widget.FrameLayout.getLayoutParams()' on a null objec

[2015-02-09 14:23] manumaticx commented on #13
Hi @deckameron

can you please share more info?
module version, titanium version, code

thanks

[2015-02-09 14:47] nuno commented on #7
Hey @manumaticx  I just added support to android L at  https://github.com/nuno/Ti.DrawerLayout-Demo-Alloy-App/commit/bf13cddd364a4645bab163bb13504ec25dc98132

http://cl.ly/image/2X1t1P0f3N3E
and
http://cl.ly/image/3o2Z321l3d2L

[2015-02-09 14:55] manumaticx commented on #7
Hi @nuno
thanks, this looks good!

[2015-02-09 15:04] deckameron commented on #13
Hi @manumaticx,
I am sorry I wasn't clear before. :-)
I am using Titanium 3.5.0, Module 1.2.2 and the code is the example provided with module.

My best,

[2015-02-12 19:59] Anatidae-Project commented on #4
Has anyone gotten a maps module build that will work with the drawer?

I think that the maps module needs love in general. Sometime in the last gear getRegion() broke on Android. Of course, that matters little when the map crashes the app in the drawer here.

By the way, this will also crash other popular drawers like dk.napp.drawer.

[2015-02-20 08:51] john-dalsgaard commented on #4
Thanks for your effort on solving this. I am afraid I don't have the skills (yet) to help out on solving it....

Stuck with same issue - and also realizes that all drawers seem to run into this issue :-(

[2015-02-24 19:15] anubis1368 commented on #13
Same here. App crashes immediately after launch.
Titanium 3.5.0, Module 1.2.2 and your example.

[ERROR] :  TiApplication: (main) [342,626] Sending event: exception on thread: main msg:java.lang.RuntimeException: Unable to start activity ComponentInfo{de.meydot.burgbad/org.appcelerator.titanium.TiActivity}: java.lang.NullPointerException; Titanium 3.5.0,2015/01/12 15:33,0014f83
[ERROR] :  TiApplic

[2015-02-27 16:28] #13 closed

[2015-02-27 16:32] manumaticx commented on #13
Sorry guys, I've updated the example code. It still used some old properties...

For an advanced example, please see here: [demo app](https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App)

[2015-03-02 16:07] AppWerft commented on #9
The same problem with mapviews. I added a mapview into the contentView  of drawer and the views keeps empty.
https://gist.github.com/AppWerft/73129b6ca56a788f00a6

[2015-03-02 16:12] manumaticx commented on #9
@AppWerft known issue #4 - this is ti.map bug

[2015-03-02 16:41] AppWerft commented on #4
In my case the app doesn't  crash, but the view keeps empty. Next try: embedding of mapview in a view container and this container is „contentView“ of drawer: same result.
![screenshot_2015-03-02-17-39-19](https://cloud.githubusercontent.com/assets/2996237/6445294/4565f85c-c103-11e4-83d8-1e48923cc22e.png)

[2015-03-11 11:29] Namib opened #14 "Add icon to the menurow"
Hello,

I am trying to add an icon to the menurow along with the text. Can you help me achieve this?

[2015-03-13 16:03] manumaticx commented on #14
Hi @Namib

there are multiple ways to do this.

If your code is based on [this demo](https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App) then you might just want to use the [`leftImage`-property](http://docs.appcelerator.com/titanium/3.0/#!/api/Titanium.UI.TableViewRow-property-leftImage) of Ti.UI.TableViewRow. Also have a look at this example:
[KitchenSink Layout 1](https://github.com/a

[2015-03-13 16:03] #14 closed

[2015-03-13 18:06] Namib commented on #14
Thanks a ton @manumaticx . I will try this, I'll make sure I ask such questions in community.

Thanks again for a quick reply :)

[2015-03-16 16:41] GeraudBourdin opened #15 "Burger to Arrow animated icon in action bar"
Hi,
i wanted to send a private message but we can't, so here i am.
I was just playing to see if it was possible to add the android L animation icon in the action bar and i ended up with this simple solution with the DrawerArrowDrawable from ChrisRenke.

here is my fork link to the module and test app:
https://github.com/GeraudBourdin/Ti.DrawerLayout/
https://github.com/GeraudBourdin/Ti.DrawerLayou

[2015-03-16 16:46] manumaticx commented on #15
Very cool. Thanks! I'll check it out as soon as possible

[2015-03-16 17:10] GeraudBourdin commented on #15
Here is a gif preview i just made.
![Image of arrow animation](http://i.imgur.com/Jg8k2P9.gif?1)

[2015-03-16 17:35] nuno commented on #15
Nice!

[2015-03-16 17:38] thomasBourdin commented on #15
Nice work ! ^^

[2015-03-16 18:43] manumaticx commented on #15
@GeraudBourdin This looks awesome! And it seems to work just fine. Great work! :+1:

If you send me pull request to the module and the demo app I would like to merge this for now!

But FYI, I intend to replace this solution as soon as Titanium 4.0.0 is released in April with official Material (AppCompat) support.

[2015-03-16 20:59] manumaticx commented on #15
Merged: #16 :)

[2015-03-17 15:20] manumaticx commented on #15
@GeraudBourdin I've just fooled around with this one.. Have you tried to change the color of the DrawerArrowDrawable?

I tried using `drawerArrowDrawable.setStrokeColor()` but it doesn't work for me. It replaces the drawable with the App icon.

[2015-03-17 22:36] GeraudBourdin commented on #15
I ll have a look tomorow morning and get back to you quickly :)

[2015-03-18 09:53] AhmedTheGeek commented on #15
@manumaticx Do you have any idea why the burger animation doesn't working on v4.0 Ti SDK ?

[2015-03-18 10:06] manumaticx commented on #15
@AhmedTheGeek I'm going to test 4.0.0 when it's beta. I'll make the Drawer compatible then.

[2015-03-18 13:07] GeraudBourdin commented on #15
@manumaticx : i've just sent a pull request. I am sorry for that, my previous pull was... hem... pretty buggy. Please review my code before merging it, i am new to java and titanium module! :)

@AhmedTheGeek : i've tested the latest 4.* before trying to use other lib (like this one). Have no idea why it's not working, but i've loose my hole weekend trying to use it... :)

[2015-03-18 13:34] manumaticx commented on #15
Since this solution replaces the actionbar icon with the arrow drawable, do you have any idea how we could support both, arrow drawable __and__ icon?

[2015-03-18 13:40] GeraudBourdin commented on #15
I've just began to work on it.. But i don't know yet if i ll end up with a nice solution. I'll try :)

[2015-03-18 13:41] manumaticx commented on #15
I have an idea. Getting back in a second....

[2015-03-18 13:49] manumaticx commented on #15
okay, it does work if you replace
[code]
with
[code]
(and using `actionBar.displayHomeAsUp = true;`)

but we need to get some left and right padding to the drawable. should be possible, isn't it?

[2015-03-18 16:04] GeraudBourdin commented on #15
i don't find how to add padding right and left to the up carret... Is that really possible ? Did you solve that too ? Btw, your activity.getSupportActionBar().setHomeAsUpIndicator(drawerArrowDrawable) works great :+1:

[2015-03-18 16:31] manumaticx commented on #15
I'm struggling with the left padding.... I'll commit my current attempt.

[2015-03-18 16:54] GeraudBourdin commented on #15
it works great on the right side ! I was wondering if it was possible to set a custom layout for the actionBar ?

[2015-03-18 18:02] manumaticx commented on #15
I would not do this from within this module because of two reasons.

1. This module aims to implement the DrawerLayout and should not do anything else (it should reduce its interaction with the ActionBar to a minimum)

2. This feature is not worth such a breaking change. As mentioned above, I'll try to implement the native support for this functionality with the release of Titanium 4.0.0 which wil

[2015-03-19 04:35] dyan02 commented on #7
having this problem, try to apply custom theme, some parameter like spinner is ignored, any workaround for this? :) Thanks

[2015-03-19 08:08] manumaticx commented on #7
@dyan02 not yet. Still don't know what causes that behavior. Sometimes it uses the correct theme, sometimes it does not. I have no idea how to approach this.

[2015-03-19 09:18] GeraudBourdin commented on #15
Well, that's a point. ^^
I have few things to do today, i'll try on my side too. Let me know if you succeed on it :)

[2015-03-19 15:47] GeraudBourdin commented on #15
Got this working, just cleaning up before sending pr. :)

[2015-03-19 15:50] manumaticx commented on #15
Wow! Awesome! Didn't had the time yet, looking forward to your fix :)

[2015-03-19 19:26] manumaticx commented on #15
Closing this. Again, thank you very much, Geraud! It's just fantastic. (btw: here's another little [gif](https://twitter.com/manumaticx/status/578630611482591232) )

[2015-03-19 19:26] #15 closed

[2015-03-23 10:57] GeraudBourdin commented on #15
@manumaticx : sorry for re-opening this thread, but i don't know how to send you pvt message.
First, i am very happy that this burger feature have been added to this project, thanks again for every thing you 've done for it ! :)
I was just wandering if it would be a good idea to add compatibility with the ios version of the nappdrawer module ?  I would be glad to dig in it, and try to make a full

[2015-03-23 11:12] manumaticx commented on #15
@GeraudBourdin  I have already built an Alloy widget to wrap this module for Android together with [TiSideMenu](https://github.com/mpociot/TiSideMenu) for iOS on the same code base on the analogy of https://github.com/FokkeZB/nl.fokkezb.drawer. I've not open-sourced this widget yet but I think it would be easy add support for NappDrawer. Anyway, this is less work than adding native Drawer support

[2015-03-23 11:45] GeraudBourdin commented on #15
That would be great i you could make your widget open sourced so i could work on the ios nappdrawer port. (btw my goal was to learn android module developpement). switch my last project to  ti.drawerLayout that allready use the nappdrawer with the fokkeZB project could be fun too. I have time this week, and if it helps the community... :)

[2015-03-24 12:53] manumaticx commented on #15
I'm going to to upload the widget later this week

[2015-03-25 09:58] manumaticx commented on #4
Okay, this can be considered as fixed - whoop! :smiley:

Please follow the testing steps here: [TIMOB-18244](https://jira.appcelerator.org/browse/TIMOB-18244)

Massive thanks to @hieupham007 for his excellent work on this issue!

[2015-03-25 10:03] #4 closed

[2015-03-26 15:41] DouglasHennrich opened #20 "Classic Version"
There's a way to use this module on Classic ?
Awesome work dude!

Thanks

[2015-03-26 15:45] manumaticx commented on #20
Sure. Why not?

[2015-03-26 15:45] DouglasHennrich commented on #20
What should I change to work on classic mode?

[2015-03-26 15:49] manumaticx commented on #20
It's just the demo app in Alloy. There's nothing that should prevent you to use classic titanium.

Please have a look at:
- [the documentation](https://github.com/manumaticx/Ti.DrawerLayout/blob/master/documentation/index.md)
- [the example](https://github.com/manumaticx/Ti.DrawerLayout/blob/master/example/app.js)

Does this help?

[2015-03-26 15:49] DouglasHennrich commented on #20
Thank you @manumaticx !

[2015-03-26 15:50] DouglasHennrich commented on #20
There's another question... how should I do to make the centerView an "navigator window" ?

[2015-03-26 15:51] manumaticx commented on #20
@DouglasHennrich can you explain in more detail?

[2015-03-26 15:53] DouglasHennrich commented on #20
On the iOS version of this module I can make the centerView an NavigationWindow that allows me to navigate through .js files... how should I proceed to accomplish this on Android? Since Android don't support add a window inside another window ?

[2015-03-26 16:00] manumaticx commented on #20
This module has no iOS version. It's poxying the native [DrawerLayout](http://developer.android.com/reference/android/support/v4/widget/DrawerLayout.html). The NavigationWindow is an iOS-only component. You don't need this on Android.

I've just add a new feature to this module which might be helpful to create such a thing (since lightweight windows don't work anymore) - you can replace the center

[2015-03-26 16:03] manumaticx commented on #20
Btw. I've just activated gitter chat for this repo ;)

https://gitter.im/manumaticx/Ti.DrawerLayout

[2015-03-26 17:20] manumaticx commented on #20
@DouglasHennrich Let me know if we can close this

[2015-03-26 18:14] DouglasHennrich commented on #20
@manumaticx you can close it. Thanks my friend!

[2015-03-26 23:55] #20 closed

[2015-03-31 11:02] Namib commented on #14
Can I change this menu dynamically? Please check my query on http://developer.appcelerator.com/question/181570/re-initialize-the-drawer-menu#answer-286710

I am trying to change the menu items based on user login/logout. A simple example would be a great help.

Thanks.

[2015-03-31 11:57] manumaticx commented on #14
@Namib answered [there](http://developer.appcelerator.com/question/181570/re-initialize-the-drawer-menu#answer-286805)

[2015-04-02 08:48] ANR2ME opened #22 "Can't use "100%" or Ti.UI.FILL for rightDrawerWidth to fully slide the view"
Is there any workaround if i want to partially slide left view (ie.menu) and fully slide the right view (ie.next page)? using 'auto' couldn't show the the whole page either

[2015-04-02 10:24] manumaticx commented on #22
Yeah, well, currently it is only possible to specify dp values for the width. So the workaround for now would be to use the displayWidth as rightDrawerWidth:

[code]

I'm thinking over how we could drop the `leftDrawerWidth` and `rightDrawerWidth` properties to let the module automatically use the width of the views. That would make it much more simple.

[2015-04-02 15:04] ANR2ME commented on #22
Thanks for the code :)
and it would be nice if it can auto-use each view's width like that.

[2015-04-08 16:17] ricardoalcocer opened #23 "openLeftDrawer not consistently updating burger-to-arrow"
**I CAN NOT consistently replicate this behavior:**

An app I'm working on calls openLeftDrawer() on window load, to show the menu right away.  When open, the hamburger should be in Arrow state, however, it's still in hamburger state, causing it to morph from hamburger to hamburger.

[2015-04-08 16:48] manumaticx commented on #23
I _think_  I can kind of reproduce this. But I do see either no hamburger at all or the correct state .And I believe this is a timing bug...

I've tested this by inserting `Alloy.Globals.drawer.openLeftWindow();` [here](https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App/blob/9a9e632b8007aa6fc787d426277ae1d16a9bd5f6/app/controllers/index.js#L117) (right at the end of the onOpen callback)

[2015-04-09 16:29] deckameron opened #24 "Drawer on top of ActionBar"
Hi @manumaticx,

Thank you for this amazing module.
Is it possible?
![m2m2e](https://cloud.githubusercontent.com/assets/4404942/7071566/801bd85a-debc-11e4-9e38-5690faa92369.png)
![uog9b](https://cloud.githubusercontent.com/assets/4404942/7071567/8020858a-debc-11e4-8c40-cde3f11b9463.png)

[2015-04-09 17:17] manumaticx commented on #24
I'm going to to add this feature in the next version which will add support for Material Theme and require Titanium 4.0.0

[2015-04-09 17:25] deckameron commented on #24
Thank you, @manumaticx!

[2015-04-12 17:30] deckameron opened #25 "rightView:null still lets the slide gesture darken the screen"
@manumaticx;

I am creating my drawer like this:

var drawer = DrawerModule.createDrawer({
        leftDrawerWidth: "260",
        leftView:  tableView,
        centerView: centerView,
        drawerIndicatorEnabled: true,
        drawerArrowIcon: true,
        drawerArrowIconColor: '#FFF'
});
window.add(drawer);

There are no rightView being set but when I slide from the right edge of the screen

[2015-04-15 01:22] dyan02 commented on #7
i do have workaround for this, as long the drawerlayout is not called in the very first window, the custom theme will work,

so what i'm doing is i'm open dummy window, before open the main window (which containing the drawer layout)

[2015-04-15 09:33] manumaticx commented on #7
@dyan02  Thanks a lot for this insight! This explains the reason for this behavior very well.

If the Drawer is created before the window is open it references the _current_ activity which is the launcher activity in case for the first window.

So another workaround (instead of opening a dummy window) is creating the Drawer after the window is open, e.g. like this:

[code]

I've just tested this a

[2015-04-15 09:33] #7 closed

[2015-04-15 10:00] manumaticx commented on #25
Hm,  your code looks okay with the exception of `drawerIndicatorEnabled ` and `drawerArrowIcon ` both set to true. You can have either the common drawer indicator or the drawer arrow animation.

But I'm not sure what causes this behavior. What version do you use?

[2015-04-15 10:51] deckameron commented on #25
I am using SDK 4.0.0 and the module version is 1.3.0.

[2015-04-15 10:53] manumaticx commented on #25
Ok, I'm going to test this.

[2015-04-15 10:58] deckameron commented on #25
Thank you! :-)

[2015-04-17 10:24] manumaticx commented on #25
@deckameron I'm sorry, I can not reproduce this.

Can you transfer this behavior to the [demo app](https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App)?

[2015-04-17 12:39] deckameron commented on #25
Ok. I will do it! :)

[2015-04-18 22:35] deckameron commented on #25
@manumaticx,

I have just found the problem.
I searched my code and I found a "drawer.rightDrawerWidth = "260";" lost in the open event of my window. :-/ My bad!

Sorry for bothering you with this and thank you for your attention.

[2015-04-18 22:44] deckameron opened #26 "Fancy arrow spin without showing the left or right Views"
@manumaticx ,

Is it possible to make the arrow spin and go back programatically without making the left or right View appear?

I am thing about changing the centerView and also turn the hambuger into the fancy arrow so that the user can click it and go back to the first center view and change the fancy arrow back to hambuger.

Thank you again!

[2015-04-18 22:44] #25 closed

[2015-04-18 22:49] deckameron commented on #8
@granit1986,

You could use [this module](https://github.com/nborracha/com.yallaya.fragments) and change the fragment on the centerView.

[2015-04-19 09:16] manumaticx commented on #25
@deckameron  :v:

[2015-04-19 09:24] manumaticx commented on #26
@deckameron Not yet. But this would be useful indeed. I'm going to think about how this functionaloty could be integrated.

[2015-04-19 09:31] manumaticx commented on #8
@deckameron There is actually no need to use another module to replace the centerView as you can just replace it with `drawer.replaceCenterView();` but this does not solve to problem making the drawer accessible from other activities.

I'll definitely look at this again when I prepare the module for Material theme and the new titanium sdk.

[2015-04-20 14:06] granit1986 commented on #8
Now i'am create new drawer for each activity and it form fine

[2015-04-22 17:16] Anatidae-Project opened #28 "Possible massive improvements for DrawerLayout"
http://www.androidpolice.com/2015/04/21/major-update-to-android-support-library-22-1-introduces-appcompatactivity-adds-major-theming-improvements-and-tons-of-backward-compatibility/

This is really interesting news. If Titanium 4.0 would inherit from [AppCompatActivity](http://developer.android.com/reference/android/support/v7/app/AppCompatActivity.html?utm_campaign=ASL221-415&utm_source=dac&utm_m

[2015-04-22 20:00] falkolab opened #29 "posible memory leaks?"
I trying to open chain identical windows. When open more then one window and then close all except one I found this case make memory leaks.
You can track sample code in DDMS.
[code]

[2015-04-23 07:25] manumaticx commented on #29
Thanks for pointing this out. I'm going to test this soon. But what I can see in the code without testing is a missing `var` at this line:
[code]
This could be a possible reason for a memory leak.

[2015-04-23 07:34] falkolab commented on #29
Sorry, its my typo, but it no matter. Also result leaks. This is very serious for my project. User open and close windows with drawer many times. That leads to app freezes and crashes.

[2015-04-23 08:17] manumaticx commented on #29
@falkolab  Ok, I've just tested this code. Where do you think it is leaking? I can't see any differences in the allocation tracker if I open 1 window or 10 windows.

[2015-04-23 08:27] falkolab commented on #29
1. open fresh app with one window opened
http://joxi.ru/4vAWWxVtOLOGAW
2. open another 9 windows, press GC button
http://joxi.ru/el2ZKy3s7Q7WAJ
3. close 9 windows, press GC any times
http://joxi.ru/Ra2Xlk7U4W4z2g

Allocated memory: step1 != step3.
Leak: ~ 4mb

[2015-04-23 08:33] falkolab commented on #29
Same example without drawer for comparison:
[code]

[2015-04-23 15:22] deckameron opened #30 "drawer.setDrawerIndicatorEnabled not working or crashing the app."
Hi @manumaticx

I was trying to remove the fancy arrow icon and show the normal icon back and this error happened:

[ERROR] :  TiApplication: (main) [6605,6948] Sending event: exception on thread: main msg:java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v4.app.ActionBarDrawerToggle.setDrawerIndicatorEnabled(boolean)' on a null object reference; Titanium 4.0.0

[2015-04-23 16:11] manumaticx commented on #30
The drawer icon is not intended to be changed after initialization.

`drawer.setDrawerIndicatorEnabled()` fails because the drawer was initialized with `drawerArrowIcon: true` so there is no actual drawerIndicator that can be enabled / disabled. I can catch that error but it won't work anyway.

The reason for this is that the `drawerArrowIcon ` is actually just a custom up-icon. It is not the actu

[2015-04-23 16:41] deckameron commented on #30
I see!
I was trying to change the icon into a back arrow after i change the center view, in order to show the user its possible to go back. It would a workaround until you have some time to implement that #26 . :-)
Thank you for your help!

[2015-04-27 08:42] falkolab commented on #29
Have any of contributors can confirm this issue?

[2015-05-01 18:01] Hollerweger commented on #28
I have committed a Demo Version with added Material Theme and tinted action bar and status bar using theme attributes working with Titanium SDK 4.0.0RC+:
https://github.com/Hollerweger/Ti.DrawerLayout-Demo-Alloy-App

[2015-05-02 08:36] nuno commented on #28
@Hollerweger I did that some time ago https://github.com/nuno/Ti.DrawerLayout-Demo-Alloy-App
what you think?

[2015-05-02 09:33] Hollerweger commented on #28
@nuno nice to see. The difference is that your example requires API level 21 (or I'm wrong?).
Mine uses AppCompat which is a support library that is backward compatible to API level 7. AppCompat is directly supported by Titanium SDK 4.0.0RC+. So it was really easy to implement: https://github.com/Hollerweger/Ti.DrawerLayout-Demo-Alloy-App/commit/2d5daec3ee359f8b505685c5d4076b03c111ad7d
For more in

[2015-05-04 13:58] manumaticx commented on #15
@GeraudBourdin Sorry, I didn't yet got that widget up here. But look, Fokke Zandbergen added support for this module to his drawer widget: https://github.com/FokkeZB/nl.fokkezb.drawer :)

[2015-05-04 14:09] GeraudBourdin commented on #15
Awesome! I'll test it as soon as possible. Thank a lot for the info :)

[2015-05-04 14:43] nuno commented on #28
@Hollerweger sorry no.

[2015-05-05 08:06] #26 closed

[2015-05-05 08:10] manumaticx commented on #26
Hi @deckameron,

I've added a function which lets you set the arrow state. You could use it like this:

[code]

[2015-05-06 20:24] jpriebe commented on #28
My TitanUp library (https://github.com/jpriebe/TitanUp) defines a DrawerMenuWM (drawer menu window manager) that gives you a cross-platform drawer menu for android and iOS (not a tab for iOS, but a menu much like Ti.DrawerLayout).  On iOS, this can be achieved with just Titanium views.

[2015-05-07 07:34] mano-mykingdom opened #31 "Map view is still not working"
Map View works fine when setting it as center view for drawer.

But in my case I want to have both map view and list view on the same page. So I added map and list views to a view and set that as the center view, now map never loads.

[2015-05-07 07:41] mano-mykingdom commented on #31
Test case
[code]

[2015-05-07 12:03] deckameron commented on #26
Hi @manumaticx,

Thank you very much for creating this! You are awesome! :-D

[2015-05-07 12:12] manumaticx commented on #30
catching the error now 24d39043423ea6e504121c0f5fe8d3468b57c4c4

[2015-05-07 12:12] #30 closed

[2015-05-07 12:18] nuno commented on #26
@manumaticx hey is possible chance the hamburger icon programaticly?

Ex. If a user is loggin show x icon if not show the default.

Hi @manumaticx <https://github.com/manumaticx>,

Thank you very much for creating this! You are awesome! :-D

—
Reply to this email directly or view it on GitHub
<https://github.com/manumaticx/Ti.DrawerLayout/issues/26#issuecomment-99834650>
.

[2015-05-07 12:34] manumaticx commented on #26
@nuno I didn't test it but it should be possible to change the icon by setting a `homeAsUpIcon` with [ABX](https://github.com/ricardoalcocer/actionbarextras) - but you won't get the hamburger back then. So, we would need to add something here to make this possible.

[2015-05-07 15:03] nuno commented on #26
@manumaticx Thank you!

[2015-05-08 07:22] mano-mykingdom commented on #31
Created a ticket here [TIMOB-18876](https://jira.appcelerator.org/browse/TIMOB-18876)

[2015-05-08 08:32] manumaticx commented on #31
@mano-mykingdom thanks

[2015-05-21 18:11] deckameron opened #32 "DrawerLayout with TabGroup"
Hi @manumaticx,

Do you have plans to make DrawerLayout work with TabGroup? Or it is not possible at all to be accomplished (Titanium limitation)?

Thanks!

[2015-06-01 00:51] Yakito opened #34 "Closing secondWindow from menu?"
Hello, I am not sure this is an issue, but when I open the secondWindow the only way to get back seems to be with the back button. If I click on any element of the menu the title of the actionBar will change but the view stays visible (on top of the others?)

If anyone can share a workaround on how to close the SecondView when an element of the menu is clicks I will appreciate it.
Thanks!

[2015-06-01 03:38] dyan02 opened #35 "Can't hide action bar if using Theme.AppCompat.Light"
Hi, after i upgrade to titanium 4.0.0 GA, if i use Theme.AppCompat.Light, the action bar will shows, even though i already hide the action bar in the custom_theme.xml. This will not happen if i use Theme.Titanium. Thanks.

[2015-06-04 13:01] manumaticx commented on #35
Hi @dyan02
Does that only happen with this module? It seems like a general Titanium question.

[2015-06-04 13:04] manumaticx commented on #34
@Yakito  How do you open this secondWindow? Do you mean replacing the centerView?
Can you maybe share some sample code? Thanks

[2015-06-04 13:12] manumaticx commented on #32
Hi @deckameron

it should be possible. But I think it requires some refactoring work. The Drawer module is built to work with views whereas the TabGroup is implemented as a standalone Window. I really want to accomplish this functionality. I hope I can have a look at this again soon.

Thanks

[2015-06-04 13:15] Yakito commented on #34
Hello Manuel, thanks for your time. I am using the Demo App https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App

In order to open the SecondWindow I am using the following function

    function replaceCenterView(){
      var view = Alloy.createController('secondWindow').getView();
      // the second parameter tells the drawer to add this replacement to the backstack
      // so pressing

[2015-06-04 13:20] deckameron commented on #32
I understand, @manumaticx!
One solution for this "problem" is to combine the DrawerLayout with your PagingControl. It works perfectly. :-)

[2015-06-04 13:26] manumaticx commented on #32
Yeah, any view-based approach is a workaround. But I also would love to see native Actionbar-Tabs playing together with the Drawer in Titanium

[2015-06-04 13:52] manumaticx commented on #34
Thanks for this information.

Yeah, I also stumbled upon this. Maybe this method should be removed again as you've seen, there is no way to control this.

Let me explain what's going on here. Internally, the centerView is wrapped in a Fragment which you can add to the android backstack. Unfortunately, you cannot control the backstack on Titanium side. This leads to that exact problem: once you vie

[2015-06-04 23:21] Yakito commented on #34
Thanks a lot, I will test your solution, I might ask you for some help in the future if I can't get it working, but I will give it a try first. Thanks again.

[2015-06-05 03:04] dyan02 commented on #35
sorry my mistake. Thanks for the reminder

[2015-06-05 03:04] #35 closed

[2015-06-05 08:36] manumaticx commented on #31
Fixed in #36

[2015-06-05 08:36] #31 closed

[2015-06-06 22:33] DouglasHennrich opened #37 "How to release memory?"
Hi! I have a question... how can I release memory from views when I attach them to my center view through replaceCenterView saving on backstack. There's a way to add a function on androidback button to remove all child from the current view before close it ?

I don't know why but my memory explode when I put a image as background of my view.

Thanks

[2015-06-08 08:29] manumaticx commented on #37
Hi @DouglasHennrich

as discussed [here](https://github.com/manumaticx/Ti.DrawerLayout/issues/34#issuecomment-108906157) I probably will remove the `replaceCenterView` method again or at least add some information in the docs about this problem. It's indeed a little hard to keep it clean since you cannot really control the backstack.
I'm planning to provide a best practice guide for second-level n

[2015-06-08 19:11] mano-mykingdom opened #38 "Issues since drawerlayout placed inside TiCompositeLayout"
* **replaceCenterView - keeps adding new view to the drawerlayout. The previous views are never removed.**
* replaceCenterView - backstack param not considered / used

[2015-06-08 20:12] manumaticx commented on #38
Thanks @mano-mykingdom

I'm aware, there are problems with `replaceCenterView` (the proxy method) as discussed in #34 and #37 and I thought about just dropping that method.

[2015-06-08 20:16] manumaticx commented on #29
@falkolab Can you please test this again with 1.3.3 ? (@mano-mykingdom has come up with a fix that maybe closes the leak)

[2015-06-10 15:43] #23 closed

[2015-06-10 16:02] manumaticx commented on #24
[TIMOB-17964](https://jira.appcelerator.org/browse/TIMOB-17964) is currently blocking the progress on this issue as I'm trying to follow this guide [here](http://www.android4devs.com/2014/12/how-to-make-material-design-navigation-drawer.html)

[2015-06-11 15:58] Yakito opened #41 "Only the original thread that created a view hierarchy can touch its views"
Hello,

I just upgraded the module to 1.3.3 from 1.2.2 and now the app is complaining about an error when I try calling a second view.

I am using the exact same code which was working on 1.2.2 calling the secondWindow using the following function:

    function replaceCenterView(args){
      var view = Alloy.createController('secondWindow',args).getView();
      Alloy.Globals.drawer.replaceCenter

[2015-06-11 16:07] manumaticx commented on #41
Please use `setCenterView()` to change the centerView.

The `replaceCenterView` method will be removed soon. Since version 1.3.3 this module does not warp the centerView within Fragments anymore. So this method does not make sense anymore.

[2015-06-11 16:15] Yakito commented on #41
Thanks! it is working now!

[2015-06-11 16:29] #41 closed

[2015-06-11 16:29] #34 closed

[2015-06-11 16:29] #37 closed

[2015-06-11 16:29] #38 closed

[2015-06-11 16:42] manumaticx commented on #28
Hey guys, thanks for your suggestions and demos. I'd like to close this issue. If you have particular issues according to Material theme please feel free to open issues here (e.g. there's already an issue for full-height drawer, which will be added as soon as Titanium supports the toolbar)

[2015-06-11 16:42] #28 closed

[2015-06-12 08:34] manumaticx commented on #32
Hi @deckameron

I've just had a look at this again and I'm afraid there's no way to accomplish this with the current implementation of Titaniums TabGroup. The TabGroup is designed to act as root window replacement and you act windows to the tabgroup. It does not work the other way. You can't have a window as your root (with drawer) and add a TabGroup to it.

In addition, the Android guides used to

[2015-06-12 08:34] #32 closed

[2015-06-12 08:38] manumaticx commented on #29
Considered as fixed. Feel free to reopen.

[2015-06-19 14:04] manumaticx commented on #9
Not seeing any issue here anymore. As expected this is fixed by wiping out the content fragment.

[2015-06-19 14:04] #9 closed

[2015-06-25 15:22] Bradleycorn opened #42 "Can't compile source (can't resolve ui package)"
Trying to compile from the source, I've got an error in the Drawer.java that I can't solve.

import ti.modules.titanium.ui.WindowProxy;

I get an error "the import ti.modules.titanium.ui cannot be resolved".

I've tried referencing the titanium.jar from both the 4.0.0.GA sdk and the 3.5.1.GA sdk with no luck. Is there some trick to getting the compiler to find ti.modules.titanium.ui ??

[2015-06-25 15:26] Bradleycorn commented on #42
hrm, guess this is more of a question than a problem. Eclipse (Appcelerator Studio) shows it as an error, but the module does compile fine. Interesting.

[2015-06-25 15:38] manumaticx commented on #42
You have to add the `titanium-ui.jar` lib to your build path.
Configure Build Path > Add external JAR > ... and then select `~/Library/Application Support/Titanium/mobilesdk/osx/4.0.0.GA/android/modules/titanium-ui.jar` (or add it manually to your _.classpath_ file)

[2015-06-25 15:40] Bradleycorn commented on #42
Awesome, that did the trick. thanks!

[2015-06-25 15:41] manumaticx commented on #42
You're very welcome! :+1:

[2015-06-25 15:47] #42 closed

[2015-06-25 15:48] Bradleycorn commented on #42
2 follow up questions:

1.) I noticed a "material" branch (presumably for adding material design support). Is that functioning, or still a work in progress?

2.) If it's still a work in progress and I wanted to contribute, is there anything in particular that it would be best to work on

[2015-06-25 15:58] manumaticx commented on #42
1. This was just for testing and fooling around. I'll delete it asap. Just pushed it to share my progress with Geraud.

2. As discussed on [gitter](https://gitter.im/manumaticx/Ti.DrawerLayout) this is blocked by the lack of Toolbar support. Not sure what else we could do... (but if you want to contribute, please use the master branch)

[2015-07-10 03:24] Yakito opened #43 "Cannot add window/tabGroup to a view under 4.1.0 GA"
Hello, I just installed 4.1.0 on my app which was previously working fine with DrawerLayout and now each time I click on an item in the menu I am getting:

    /view.js
    Cannot add window/tabGroup to a view

None of my views uses tabGroups, so I am not sure why the error is firing. Any tip will be appreciated!
Thanks!

[2015-07-10 03:39] Yakito commented on #43
My bad, it looks like while in 4.0.0 GA each controller could have a <Window> tag, under 4.1.0 GA throws out the error, but that makes totally sense. By changing <Window> for <View> it works again. Sorry about that.

[2015-07-10 03:39] #43 closed

[2015-07-16 15:13] victorgoh commented on #24
Support for this feature and Material Theme will be awesome!

[2015-07-16 15:17] manumaticx commented on #24
@victorgoh definitely! But we need this resolved first: [TIMOB-17964](https://jira.appcelerator.org/browse/TIMOB-17964)

[2015-07-20 22:19] soringpenguin opened #44 "Run Time Error"
I can't figure out how to get past this error.
I'm using SDK 3.5.1.GA

I'm pretty sure I have the module installed correctly cause it doesn't fail from the require(). I think it has to be some specific little thing I'm missing or have incorrect. Any help would be great.

Thank you

This is the log
[code]
index.xml
[code]
index.js
[code]
tiapp.xml
[code]

[2015-07-20 22:25] soringpenguin commented on #44
Well I feel like a fool. I finally resort to asking and I immediately get it working. I switch to SDK 4.1.0.GA and then it worked just fine.

[2015-07-20 22:25] #44 closed

[2015-07-21 07:39] manumaticx commented on #44
I think we should set the minimum SDK to 4.0.0.GA - I'll test with 3.5.1.GA asap. Thanks for the pointer

[2015-08-03 07:10] falkolab commented on #29
Yes 1.3.4 has also memory leaks. I have to find for another solution :(

[2015-08-03 07:14] manumaticx commented on #29
Okay, thanks for testing

[2015-08-03 07:31] falkolab commented on #8
@granit1986 Have you checked the leaked memory after repeated opening and closing of the activity with drawer? https://github.com/manumaticx/Ti.DrawerLayout/issues/29

[2015-08-05 07:43] falkolab commented on #29
I found Titanium SDK 4.1.0.GA has memory leak in common Ti.UI.Window https://jira.appcelerator.org/browse/TC-5648.
Therefore I can't test this issue in the 4.1.0.GA SDK. And also I can't  run test case project with combination this module 1.3.4 and Titanium SDK 3.5.1.GA

[2015-08-10 09:48] falkolab commented on #29
Due some serious bug in the Ti SDK 4.1.0.GA I can't migrate my project to it and I can't test last version of this module, because: https://github.com/manumaticx/Ti.DrawerLayout/commit/35181a63df434509953369fbb268fe86d35292a3#diff-fa26c54e383e760978703a6f87daf46d

For 1.3.0 drawer module version  I found memory leak with left view, it holding ViewProxy in memory after Window closing.

[2015-08-10 09:52] manumaticx commented on #29
Can you try 1.3.3? That was where the centerView leak was fixed: https://github.com/manumaticx/Ti.DrawerLayout/commit/9fc3435e46b944efb5fe1c3ccfffcd5e26972df3

[2015-08-10 09:56] manumaticx commented on #29
I see, leftView and rightView needs to be removed from layout too.

[2015-08-10 10:12] manumaticx commented on #29
https://github.com/manumaticx/Ti.DrawerLayout/pull/45
Can you please review and test this?

[2015-08-10 10:41] falkolab commented on #29
I can't do complex test with my project that targeted to Ti SDK 3.5.1.GA. Your last changes not usable for me.

[2015-08-10 11:29] falkolab commented on #29
No, I can't test this chages due Ti SDK has memory leak begining from 4.0.0.GA as it mentioned above. Is it possible to backport your changes around ActionBarDrawerToggle for possibility to build for Ti SDK 3.5.1?

[2015-08-10 13:00] manumaticx commented on #29
I thought the activity lifecycle events were added in 4.0.0 but it seems to work with 3.5.1.GA. I've pushed this to a separate branch here: https://github.com/manumaticx/Ti.DrawerLayout/tree/3_5_1_backport

[2015-08-10 13:15] falkolab commented on #29
Yes lifecycle events work with 3.5.1. I play with cleanup and later notify to you about results.

[2015-08-14 11:13] Velan opened #46 "CenterView scrolls back to top when going back"
Hello!

I have an app that uses heavily ListViews and it often happens that I navigate from one ListView to another. I have an issue when and I navigate back to a ListView, the scroll position is not retained and the ListView appears in its initials position.

I do not have the issue with TableViews nor weirdly the first ListView that appears in the center when the Drawer is created, all subsequen

[2015-08-14 11:40] manumaticx commented on #46
Hi @Velan

Since 1.3.2 this module does not use Fragments anymore in favor of supporting MapView. So `replaceCenterView` was dropped too as the centerView is now based on Views (TiCompositeLayout) and it is not needed anymore (no Fragments, no backstack).

So now, if you call `setCenterView` there is no going back to the previous view. You could use a container view as the centerView and add / rem

[2015-08-14 12:49] Velan commented on #46
Hey @manumaticx

Thanks a lot for the very quick reply!

The issue I have with using my own backstack is that I would not be able to put the scroll position back to the same position it was before replacing the view. That info is available for regular ScrollViews in Titanium but not TableViews or ListViews. I'd probably need a native helper module to get and set those infos.

[2015-08-14 13:19] manumaticx commented on #46
Yes, that's indeed hard to accomplish. In native land you would use Fragments to solve this. The Fragment is able to resume to it's paused state like an activity. But I think there's also a Titanium issue with ListViews. I've seen this problem (loosing the scroll position) somewhere else.

I'm wondering if this also happens when you keep the ListView in memory (only remove it from parent and put i

[2015-08-15 19:10] falkolab commented on #29
I spent a week on a study of this question. I made a few corrections (not published) in the module that caused the leak. But I can not quite understand why, even when I close the window in memory remain proxy objects. Alloy or not no matter.

Another example, I open one window after another 10 times, but in the memory there are 4 WindowProxy with his child views etc.. Why not one?!

[2015-08-17 08:20] manumaticx commented on #29
Wow, really appreciate your efforts!

So as for my understanding, there's a combination of issues causing memory leaks. On the one hand the WindowProxy bug in 4.1.0 and on the other hand some things in this module.

Do you think this change could also be a possible reason? https://github.com/appcelerator/titanium_mobile/commit/3e752624eb428bf98480463f144388ea6d4180e1

I'm really looking forward to

[2015-08-17 11:52] falkolab commented on #29
No https://github.com/manumaticx/Ti.DrawerLayout/pull/45 not needed because I use overrided method releaseViews of drawer proxy. I'm trying to implement multiple windows with drawer but not all View proxies propertly removed by Garbage collector. I do not know why. Now I use only 3.5.1.GA.
I will do pull request later.

I wonder why remain in memory several proxy objects after several cycles open

[2015-08-30 16:35] dpwilhelmsen commented on #46
@manumaticx I'd be interested in seeing an example of how you handle a backstack if you have one readily available. I appreciate all the work you put in maintaining this library.

[2015-09-02 12:24] nubu opened #47 "Using left and right menu"
Hey,

I'm trying to use both, left and right side slides. The Problem is: The arrow on the topleft corner is spinning if I'm opening the  right slide. (Pressing on it after that, will trigger the left slide to slide in)

Strange behavier - any idea?

[2015-09-02 12:40] manumaticx commented on #47
@nubu Thanks for reporting this! That's definitely not intended. But I know what's going on here. I've fixed this (a year ago)[https://github.com/Tripvi/Ti.DrawerLayout/pull/28] but re-introduced the bug by accident when moving to native ActionBarDrawerToggle (v1.3.4).

[2015-09-02 13:20] #47 closed

[2015-09-02 13:29] nubu commented on #47
:+1:

[2015-09-02 14:09] manumaticx commented on #46
@dpwilhelmsen hey, I've just updated the [demo app](https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App) with my backstack implementation. Hope this helps! :)

[2015-09-02 14:17] dpwilhelmsen commented on #46
Thanks! I appreciate it!

[2015-09-08 03:51] mark22 opened #48 "Enhancement: Possible to define how much of left area to detect swipe in?"
Right now you literally have to swipe from offscreen to open the menu.  Is it possible to change this number to a user defined number, for example say if someone swipes anywhere in the left 33% of the screen it would detect as a swipe to open the menu?

Thank you!!!

[2015-09-08 07:53] manumaticx commented on #48
There's no property that we could use straight away. But it is possible. I could implement this solution somebody figured out [here](http://stackoverflow.com/questions/16988597/set-drag-margin-for-android-navigation-drawer/17802569#17802569).

[2015-09-15 00:13] Anatidae-Project commented on #24
Check out this:
https://github.com/Anatidae-Project/Ti.DrawerLayout/tree/ToolBar_Support

If you turn off the Actionbar in the manifest (tiapp.xml) and then use this code, you'll have the new Toolbar widget.

It would probably be pretty easy to set the toolbar visibility to GONE if an ActionBar already exists. In which case the module would only add in the toolbar if nothing is already there. Or,

[2015-09-15 08:17] manumaticx commented on #24
@Anatidae-Project  Oh wow! This really works that easy? I'm definitely going to test this today.

Is the Ti.Android.Actionbar and Ti.Android.Menu still working with the Toolbar?

[2015-09-15 09:31] manumaticx commented on #24
@Anatidae-Project It works very fine! This is awesome!

Let's integrate this here. I'll try to find a way how this could be turned on by option.

[2015-09-15 16:24] Anatidae-Project commented on #24
@manumaticx Yes. I actually use ActionBarExtras.
The key is to disable the toolbar completely in the manifest. You have to use a style that has no actionbar. Like this: Theme.AppCompat.Light.NoActionBar

Now, in the drawer module, it can then get the activity and use setSupportActionBar() to set up the new toolbar. After that, it works just like the standard actionbar.

So, today I'm going to foll

[2015-09-15 16:47] Anatidae-Project commented on #24
Here is the thing, I think you'll have to use this solution for Titanium going forward. If they put, in the main layout, a Toolbar, I'm not sure it is easy to remove that. Once you set your supportActionBar for an activity.... I've never tried removing a reference like that. It definitely isn't a supported pattern.

With the new toolbar, it has to be part of the layout in some way. So if you have

[2015-09-15 17:18] Anatidae-Project commented on #24
So, while @manumaticx tests and adjusts my PR. If you really need the new toolbar in Titanium 4.x.x, you can pull and build this branch:
https://github.com/Anatidae-Project/Ti.DrawerLayout/tree/ToolBar_Support

Or download the compiled module here:
https://github.com/Anatidae-Project/Ti.DrawerLayout/blob/ToolBar_Support/dist/com.tripvi.drawerlayout-android-1.3.5.zip

Please note that this probably

[2015-09-27 18:11] Yakito opened #50 "Changing selected row when opening controller via API"
Hello! This is more a question than an issue, but I'v been trying to do it myself and couldn't find the way.

I am opening a controller from one of my views using the following code

    var searchWindow = Alloy.createController('search', args);
    Alloy.Globals.open(searchWindow);

This opens the controller fine but the selected item in the menu remains the same thus breaking my navigation.

Is

[2015-09-28 12:23] manumaticx commented on #50
Assuming your code is based on the demo app and the `search` controller represents a menu item, you can do this by using this code (from any controller):

[code]

[2015-09-28 20:36] Yakito commented on #50
Hello Manuel, thanks a lot for your time. My code is indeed based on the demo app.

I am getting an undefined error when I try your code:

    Cannot call method 'select' of undefined.

Where is `Alloy.Globals.menu` defined? Or should I define it somewhere?

Thanks again for your time!

[2015-09-28 20:45] manumaticx commented on #50
In the demo its defined in the index controller https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App/blob/master/app/controllers/index.js#L36

[2015-09-28 21:52] Yakito commented on #50
Thanks again! I checked the code and it looks like I have an older version of the demo app so I will need to fix my code to have the menu inside a global variable.

Thanks a lot for your time (I might need to bother again in the future, but I will try to fix it myself)

[2015-09-29 09:26] manumaticx commented on #50
Yeah, the app became a little complex. I've updated it a few weeks ago with a backstack implementation showing how to handle the back button. You can see all the changes in the commits. There's some more changes than making the menu global.

Please note that I've also updated the menu.select method to include a callback (allowing to update the options menu after the new controller is open) and the

[2015-09-29 09:28] manumaticx commented on #46
Closing this since there's probably no way to fix this in the module code

[2015-09-29 09:28] #46 closed

[2015-10-03 00:41] Yakito commented on #50
Hello Manuel, maybe this is super easy for you to answer. I been modifying my code to make it work with the new changes and everything works fine except for one tiny thing.

When I use the code you sent me to select an item of the menu from a controller

    Alloy.Globals.menu.select('search', function(){
        Alloy.Globals.optionsmenu();
    });

I get the following error

    Cannot read prop

[2015-10-03 10:55] Velan commented on #46
@manumaticx

No problem !

I ended up implementing my own backstack with infos about the scroll position in a ListView (needed a native helper module for that). It's working fine now.

Thanks for your help!

[2015-10-04 09:58] manumaticx commented on #50
The `onCreateOptionsMenu` method should not be called directly. It's actually just a callback that you define that gets called by the system. In case of the demo code this method is just forwarded from the main window (or activity) to the nested controllers. This allows you to have separate optionmenus for each content view.

You can force it to be called with `activity.invalidateOptionsMenu()` -

[2015-10-05 18:35] Yakito commented on #50
Thanks again Manuel!

[2015-10-14 05:04] hyabusa opened #51 "change actionbar color"
is there a way to change action bar coloor in android from black to something else? i am adding "res" in android with custom colors but no changes. if i remove Ti.DrawerLayout module, i can see the color changge in action bar. but with Ti.DrawerLayout module it always stays black.

[2015-10-14 08:32] manumaticx commented on #51
There's two packaged versions of the module in /dist:
* com.tripvi.drawerlayout-android-1.3.5.zip
* com.tripvi.drawerlayout-android-1.4.0-alpha-1.0.zip

You should not use the second one yet. It's a little bit confusing but both packages are version 1.3.5 just with a different package name.

There shouldn't be a problem with the Actionbar as the "old" version does not affect it.

[2015-10-17 19:19] deckameron opened #52 "java.lang.IllegalStateException in android.support.v4.app.FragmentManagerImpl.checkStateLoss"
Hi @manumaticx,

I have been getting this error a lot on Google Play reports and I don't know how to solve it. Could you please help me?

java.lang.IllegalStateException: Can not perform this action after onSaveInstanceState
	at android.support.v4.app.FragmentManagerImpl.checkStateLoss(FragmentManager.java:1377)
	at android.support.v4.app.FragmentManagerImpl.enqueueAction(FragmentManager.java:1395

[2015-10-19 09:01] manumaticx commented on #52
Are you using an older version of the module?

[2015-10-22 06:36] Prakhs commented on #43
Hi Yakito,

Can you please let me know, how did you resolve this issue in detail?

Thanks

[2015-10-22 17:39] deckameron commented on #52
Hi @manumaticx ,
I am using 1.3.4.

[2015-10-22 18:03] manumaticx commented on #52
Hm, it should work then. 1.3.4. does not use fragments anymore. Any chance of reproducing this?

[2015-10-22 18:10] deckameron commented on #52
My mistake @manumaticx . I was not using 1.3.4 but 1.3.1.
I will updated it to 1.3.5.

[2015-10-22 18:11] manumaticx commented on #52
Well, this should solve it :)
Am 22.10.2015 8:10 nachm. schrieb "Douglas Alves" <notifications@github.com

[2015-10-22 18:13] deckameron commented on #52
It always worked so well that I've never even bothered updating it. :-)

[2015-10-22 18:13] #52 closed

[2015-10-23 08:25] manumaticx commented on #52
That update was necessary to support map view

[2015-10-28 10:59] #50 closed

[2015-11-12 20:16] #51 closed

[2015-11-23 03:24] centogram opened #53 "5.1.0 GA Problem"
With the latest 5.1.0.GA sdk in android
org.appcelerator.titanium.TiActivity cannot be cast to android.support.v7.app.ActionBarActivity .  Any ideas how to resolve this?

-> https://github.com/Tripvi/Ti.DrawerLayout/issues/52

[2015-11-23 03:25] Brian-McBride commented on #53
What is the exact error?

[2015-11-23 03:29] centogram commented on #53
[code]

[2015-11-23 08:20] manumaticx commented on #53
Hi, this was actually already resolved here: https://github.com/manumaticx/Ti.DrawerLayout/commit/812ca7d8fdacc91261eb5ed39ba912a4b677bbce
but not yet released.
I'll publish a new version later today.

[2015-11-23 14:04] centogram commented on #53
Great.   Thank you.

—
Sent from Mobile

On Mon, Nov 23, 2015 at 3:20 AM, Manuel Lehner <notifications@github.com>
wrote:

[2015-11-23 21:54] Bradleycorn commented on #24
So, I compiled the lastest master branch against 5.1.0.GA, and used the module in my app (also using 5.1.0.GA), and I can successfully toggle the Toolbar/ActionBar by changing my root theme to inherit from either
Theme.AppCompat.Light.NoActionBar (use Toolbar with drawer rendered over the toolbar)
Theme.AppCompat.Light.DarkActionBar (uses Actionbar - drawer is rendered below actionbar)

This is aw

[2015-11-24 09:24] MahmoudElmoghazy commented on #53
@manumaticx Have u make the module ?

[2015-11-24 09:30] manumaticx commented on #53
I've just pushed the new package but I didn't have the time to test it against 5.1.0.GA - sorry!
Please let me know if this works for you

[2015-11-24 09:34] MahmoudElmoghazy commented on #53
ok could you push the module to test it cause i have a problem in my ndk i can't make a module :)

[2015-11-24 09:37] manumaticx commented on #53
It's here: https://github.com/manumaticx/Ti.DrawerLayout/blob/master/dist/com.tripvi.drawerlayout-android-1.3.6.zip

[2015-11-24 09:59] MahmoudElmoghazy commented on #53
It works fine but humburger menu doesn't work :(

[2015-11-24 10:03] manumaticx commented on #53
I'll test asap

[2015-11-24 10:46] MahmoudElmoghazy commented on #53
thank for help :)

[2015-11-24 14:44] Arood commented on #53
The update works but it forces the ActionBar to appear even though I've hidden it. My custom theme looks like this:

[code]

[2015-11-24 15:00] manumaticx commented on #53
@Arood Can you try creating the Drawer with `hideToolbar: true`?

[2015-11-24 15:06] Arood commented on #53
@manumaticx that worked, thanks!

[2015-11-25 16:46] MahmoudElmoghazy commented on #53
@manumaticx have u test the menu button ?!

[2015-11-25 17:31] manumaticx commented on #53
@MahmoudElmoghazy I've just tested the [demo app](https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App) with Titanium 5.1.1.GA and 1.3.6 - it works fine for me.

What's the exact problem you are facing?

[2015-11-26 11:29] kshamsuddin opened #54 "Styling Action Bar Issue"
**Testing Environment:**
*Ti SDK: 5.1.1.GA
MAC OSX 10.10.5
Target Android API: 23
Target Device: Android Genymotion Emulator*

Hi,
I'm very new to Titanium. I have been picking up a project where we used your module. I recently updated the module to version 1.3.6 and tested with Ti SDK 5.1.1.GA. Everything seems to be working fine except the actionbar styling. The styling is not working and the ac

[2015-11-26 11:45] manumaticx commented on #54
That generator is indeed deprecated and I encourage not using it anymore because it generates a lot of drawables which blows up your resources.

I recommend creating a fresh new Theme based on an AppCompat parent Theme. There's an excellent article from Ricardo Alocer: https://www.appcelerator.com/blog/2015/07/understanding-the-android-material-theme/

It explains the simple steps you need to conf

[2015-11-26 12:28] kshamsuddin commented on #54
Many thanks. Would that bring the app/home icon on the action bar?

Should I just remove all from platform/android/res/ first before creating a new theme?

[2015-11-26 14:38] manumaticx commented on #54
The support for App Icon in Actionbar was dropped by Titanium since using it is not recommended anymore as per Material design guidelines. There's a workaround this as I answered [here](https://github.com/ricardoalcocer/actionbarextras/issues/92) (using the ABX module).

And yes, you can remove all the generated stuff from platform/android/res/ (but be careful to remove only the styles and drawabl

[2015-11-28 15:58] MahmoudElmoghazy commented on #53
The heuberger menu doesn't work

[2015-11-30 09:29] kshamsuddin commented on #54
Thanks for the help. Really appreciated.

[2015-11-30 09:29] #54 closed

[2015-12-01 18:52] SudoPlz commented on #44
I confirm that after using the 3.5.1 backport my app started working. Thats great because I wish to support devices before Android Lollipop 5 (Api 21) and using Titanium sdk 4.0.0 and greater stops me from doing so.

[2015-12-14 17:08] collinprice commented on #53
Thank you!

[2015-12-16 11:01] #53 closed

[2015-12-23 16:02] gvlamadrid opened #55 "How can I hide actionbar?"
Version: Ti.DrawerLayout 1.3.6
TiSDK: 5.1.1
Android: 6

txs!

[2015-12-23 16:09] manumaticx commented on #55
You can pass this option when creating the drawer:
hideToolbar: true

(I'll document this asap)

[2015-12-23 16:12] gvlamadrid commented on #55
Worked! Txs a lot!

[2015-12-23 16:12] #55 closed

[2015-12-24 21:16] asleson opened #57 "ClassCastException with 5.1.1GA SDK"
Hello @manumaticx !

I just upgraded from Titanium SDK 5.0.0GA to 5.1.1GA to overcome a major (for me) bug in the 5.0.0GA SDK.

However, when I run my app that uses the DrawerLayout v1.3.5 module, the app fails with this stack trace snippet:

[code]
Something definitely changed in the 5.1.1GA SDK, as the error goes away when I revert back to the 5.0.0GA SDK.

Could you please investigate?

Thank y

[2015-12-24 21:37] asleson commented on #57
Oops, never mind.  Sorry.  I didn't see that there was a 1.3.6 version available in the dist folder.  I was looking under the "releases" tab on GitHub.  I see the commit comment for Drawer.java that changes the casting.

Thank you so much for providing this module!!!

[2015-12-24 21:37] #57 closed

[2016-01-19 17:12] chmiiller commented on #24
thats awesome @Brian-McBride ! Any progress on this "back button" issue @Bradleycorn ?
Great job guys!

[2016-01-19 17:32] deckameron commented on #24
Hi @chmiiller,

Maybe this code can help you. I haven't tested it yet but it seems ok.
[code]

[2016-02-04 17:29] manumaticx commented on #24
Updated Demo App: https://github.com/manumaticx/Ti.DrawerLayout-Demo-Alloy-App

[2016-02-04 17:30] #24 closed

[2016-02-05 13:41] chmiiller commented on #24
OMG this is a like a dream come true! Thanks =)

[2016-02-05 13:53] manumaticx opened #58 "back button should close drawer"
Prior to v1.3.6 the Drawer would close itself when the back button was pressed. With the new implementation that behavior changed. Now, when the drawer is open and the back button is pressed, the activity gets closed.

[2016-02-05 13:54] manumaticx commented on #24
I've opened a new issue for the back button issue #58

I'll also update the documentation asap

[2016-02-05 14:05] mano-mykingdom commented on #24
:+1: great job.

[2016-02-05 15:54] manumaticx commented on #29
Closing this as this is a Titanium bug: https://jira.appcelerator.org/browse/TIMOB-19891

[2016-02-05 15:54] #29 closed

[2016-03-25 19:03] bcarvalho89 opened #59 "Open new window"
Hello!
I'm trying to open a new window but the action bar does not appers. If I open with `modal:true`, the action bar appers without styles.
Below exemplify what happen:

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/8310877/14051599/0961e334-f2a3-11e5-9064-48c43f6022a4.gif)

Any chance to fix it?
Thanks for attention

[2016-03-26 11:20] manumaticx commented on #59
This is because the drawer requires a NoActionBar theme (it adds a Toolbar within tis own layout). In the demo app that theme was used by default. I just fixed it [there](https://github.com/manumaticx/NavigationDrawer-Demo/commit/4bce6dd0952207c69a70b7125c61c8576b06f202). Did this help you?

[2016-03-26 12:23] bcarvalho89 commented on #59
Helps a lot!
In new window, the text color was black and status bar was gray.
I must add this two lines in themes.xml:

[code]

Thanks again.

[2016-03-26 13:29] manumaticx commented on #59
Ah yes. Great! :)

[2016-03-26 13:29] #59 closed

[2016-03-31 16:12] manumaticx opened #60 "Update docs"

[2016-04-01 13:16] manumaticx commented on #8
I'm afraid we cannot achieve this from the module itself. That needs no be implemented in the parent activity. There's probably a way to do this in Titanium. E.g. you could create your custom window that adds your drawer instance by default or something like this.

But as I can't fix it here, I'll close this issue now.

[2016-04-01 13:16] #8 closed

[2016-04-01 14:19] #22 closed

[2016-04-01 14:19] #60 closed

[2016-04-01 14:21] #58 closed

[2016-04-01 14:21] manumaticx commented on #48
added here: ba60f7bb0fc472da363947842097d7b02e36f6ed

[2016-04-01 14:21] #48 closed

[2016-04-16 12:09] clem983 opened #61 "Drawer does not appear"
Hi,

I'm a beginner with Titanium, and I'm trying to install your drawer module (in a classic project). When I put the example code in my project, a blue action bar appears and the click in the left corner is detected...but nothing else happens and there isn't any error in the log. Does I forgot something to do ?
I have another problem : I change the color in the file colors.xml, but the action-ba

[2016-04-17 12:42] manumaticx commented on #61
Hi @clem983
Have you installed the latest version 1.4.0? Are you using the example code from readme?
I have to admit that the example code may not be up-to-date. But the snippet in the readme should work just fine. As well as the demo app (that's an Alloy project).

[2016-04-17 18:31] clem983 commented on #61
Yes, it's the latest version and the code is from the readme.
I tried to install it in a blank project and it doesn't work... I don't know what I'm doing wrong !
Here is my project's structure :
- modules
-- android
--- com.tripvi.drawerlayout
----1.4.0
----- documentation ->index.html
----- libs -> 3 other folders
----- platform -> android - res - layout, etc
----- timodule.xml
----- manifest
- r

[2016-04-18 08:15] manumaticx commented on #61
Oh! I reproduced it. There's on property missing in that example ( `leftDrawerWidth: 240` ). I'll fix this asap but in the meantime you can workaround this by just passing that property.
[code]
Thanks for the report!

[2016-04-18 08:51] #61 closed

[2016-04-18 08:52] manumaticx commented on #61
All right. It's fixed in 1.4.1 👍

[2016-04-18 18:41] clem983 commented on #61
It works ! Thanks a lot ! :)

[2016-04-20 10:07] arshavinho opened #62 "Action bar below the status bar"
Hello,

i'm using Titanium SDK 5.2.2 GA (also tried with 5.2.0 GA), with Samsung S5 with android 5.0, when i tried to implement the module in my App i noticed that the action bar is below the status bar so i tried the demo App and the same behaviour occurs. Do you have any idea of what i could forget ? Thanks

Screenshot:

![drawerstatusbarbug2](https://cloud.githubusercontent.com/assets/1016441/1

[2016-04-20 10:18] manumaticx commented on #62
Depending on what behavior you want, there are two possible ways:

1. **drawer should overlay app bar**
then you have to add some padding to the actionbar. Again, two ways to achieve this:
 * tweak the layout in xml like in the [demo](https://github.com/manumaticx/NavigationDrawer-Demo/blob/master/modules/android/com.tripvi.drawerlayout/1.3.6/platform/android/res/layout/drawer_main.xml#L25)
 * add

[2016-04-20 10:58] arshavinho commented on #62
Thanks, the tweak in the layout xml works great,
with ABX i had an error: TypeError: Object #<Actionbarextras> has no method 'setToolbarTopPadding'

[2016-04-20 11:00] manumaticx opened #63 "Add to docs: possible ways to setup app bar"
This should be made clear in readme / documentation.

There are 2 scenarios how this module can be set up according to app bar appearance. As desctibed in #62

1. **drawer should overlay app bar**
<img src="https://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bzhp5Z4wHba3Q0tDQ3Z1OHg5VHc/patterns_navdrawer_elevation1.png" width="280" />

2. **drawer should appea

[2016-04-20 11:02] manumaticx commented on #62
@arshavinho  `setToolbarTopPadding` was added in ABX 1.6.9

[2016-04-20 11:14] arshavinho commented on #62
thank you i was using 1.6.8

[2016-04-20 11:14] #62 closed

[2016-04-22 12:12] abgreen29 opened #64 "Use Windows rather than Views?"
Hi there,

Great work on this, thanks!

I'm wondering if there is any way to use Windows rather than Views for content? Could I use separate Windows and just add the drawer to each one as it opens?

[2016-04-22 18:09] manumaticx commented on #64
You mean Windows as contentViews? This is not going to work.

[2016-04-23 01:05] abgreen29 commented on #64
No, since you have to create a Window first that the drawer is added to, can I create a drawer that only has a leftView, but the main content is in the Window that the drawer is added to? Then each menu selection in the drawer would open a new Window, and the drawer would be added again to each new Window. Do you see any issues with this?

The reason I'm thinking this way is to simplify my cross-p

[2016-04-23 12:58] manumaticx commented on #64
Have you seen this drawer widget? https://github.com/FokkeZB/nl.fokkezb.drawer

In the readme, Fokke also describes how to solve the View / Window problem. Maybe this is what you are looking for?

[2016-04-24 17:11] manumaticx opened #65 "add property for setting toolbar padding"
Currently you have to tweak the layout in xml or use ABX. It would be nice to have a property for that.

[2016-04-24 17:14] #63 closed

[2016-04-28 10:02] manumaticx commented on #64
Ah! Now I get what your question is about. Sorry, it took a while :D

Let me think about this.... I actually never tried this, have you? I'm going to test this soon and let you know!

[2016-04-28 10:19] manumaticx commented on #64
@abgreen29 Hey this actually works fine. But events aren't bubbled to the parent window. I'll try to figure out what the problem is

[2016-04-28 12:37] abgreen29 commented on #64
Thanks for looking at this! Haven't really had a chance to try it myself yet.

[2016-04-28 12:47] manumaticx opened #66 "events aren't bubbled to parent window"
You can add the drawer to an existing window with just `leftView` defined. In this case the window itself will act as the contentView.

Problem with this setup: Events (clicks, etc.) won't fire on that window. Need to fix this!

[2016-04-28 12:50] manumaticx commented on #64
I'm closing this issue. I'll try to fix the event issue in next version, reported as #66

[2016-04-28 12:50] #64 closed

[2016-04-28 14:11] psyzz opened #67 "Events draweropen/drawerclose/drawerslide on rightView"
Hi,

i'm trying to use the drawer event "draweropen" on my rightView, seems to be broken.
The 3 events works great on the leftView but on the rightView none. I tried by setting the rightView at the drawer creation and with the drawer.setRightView().

Did i miss something?
Thanks by advance

[2016-04-28 14:50] manumaticx commented on #67
@arshavinho

There seems to be a general problem with the rightView. I'm going to fix this in the next version (asap)!

[2016-04-28 14:52] arshavinho commented on #67
Thank you for all your work @manumaticx !

[2016-05-02 14:03] Geek-Fish commented on #67
Thanks @manumaticx - I noticed this last night when switching from NappDrawer (which is very simple, set up is almost the same), but my right view was blank.

[2016-05-03 15:56] arshavinho opened #68 "DrawerLayout and splash screen"
Hello,

i used the example: https://github.com/manumaticx/NavigationDrawer-Demo
to implement your module with the themes.xml. After doing that, the splash screen doesnt show up at startup, only a window with the name of my app for title.

i tried to follow this guide for custom theme: "Splash Screen with a Custom Theme"  http://docs.appcelerator.com/platform/latest/#!/guide/Icons_and_Splash_Screen

[2016-05-04 14:49] manumaticx commented on #68
Try removing this line:
[code]

[2016-05-04 14:53] manumaticx commented on #68
Or try renaming the theme.xml.

Could it be, this is the problem?

[2016-05-11 14:29] manumaticx commented on #68
@arshavinho Were you able to resolve this?

[2016-06-07 15:38] #68 closed

[2016-06-08 16:30] arshavinho commented on #68
Sorry for the delay,

No i have an Android app on the market with no splash screen for now :'(

[2016-06-10 11:27] arshavinho commented on #68
Hello,

The documentation mention to do not name the file theme.xml, my file name is "themes.xml", i try to rename it to "theme.xml" and the compilation failed like the documentation says.

Here my test:

themes.xml:

[code]

Error:

[code]

themes.xml:

[code]

No error, but splash screen didn't show up.

[2016-06-16 16:40] AhmedMohamed2014 opened #69 "does not working with android 6"
this made my app crushes with android 6 .. need updates

[2016-06-17 10:24] manumaticx commented on #69
@AhmedMohamed2014 Can you provide some more information about the error?

[2016-06-24 06:28] dave101 commented on #69
error i'm getting is: [ERROR] :  linker: /data/app/<appname>/lib/arm/libcom.tripvi.drawerlayout.so: has text relocations

[2016-06-24 10:11] AndreaVitale opened #70 "scrimColor goes to transparent after using a rightView"
If you set the rightView property, when you open the leftView the scrimColor goes to transparent and all actions made outside the leftView will be handled by the centerView instead.
Without the rightView property set, everything works as expected.

[2016-06-24 10:25] dave101 commented on #69
This occurs on android version 6.0 when targeting android sdk 23

[2016-06-24 12:28] manumaticx commented on #69
I'll compile with latest NDK and hope it works out

[2016-06-24 12:30] manumaticx commented on #70
Thanks for reporting this. Will have a look soon

[2016-06-27 13:27] dave101 commented on #69
Confirmed compiling with NDK 9+ fixes this. Therefore it seems it's a google bug and not the modules

[2016-06-27 15:01] jpriebe commented on #69
Just so I understand what's going on here, are we talking about a compilation warning or an app crash?  We're building with android SDK 23 and our app runs fine on android 6.

[2016-07-01 00:21] dave101 commented on #69
When compiling the app using SDK 23 the App will crash on startup if the Module is compiled using an NDK prior to R9.
Although; When compiling the App on an earlier version than 23, it is only a warning message.

[2016-07-19 13:10] #69 closed

[2016-07-21 21:01] LeoLeal commented on #32
Sorry for reviving an old discussion, I was reading the documentation and found no solution to implementing the Drawer with Tab group, and just came across this issue.

Just adding to the conversation, that It is actually part of the specification to combine drawer and tab group according to the guidelines.

[https://material.google.com/patterns/navigation.html#navigation-combined-patterns](https:

[2016-07-22 08:46] manumaticx commented on #32
@LeoLeal Thanks for the pointer.

That's right. As per the guideline Drawer and Tabgroup *can* be combined but only if you use the Drawer for top-level navigation and the Tabgroup for sub-level navigation.

In Titanium, the Tabgroup was implemented as top-level Navigation. That means in fact, if you want to use it, you have to use a Window for each Tab. There are no Fragments in Titanium. The Tabg

[2016-07-23 01:23] LeoLeal commented on #32
Oh i see... the only solutsolutien would  be to implementar a module to override the Ti.UI.Tabgroup namespace for the Alloy  tag <Tabgroup> for Android, right?

[2016-07-25 08:11] manumaticx commented on #32
That's actually not possible. Also, this isn't a namespace or Alloy issue. This has to be fixed in the Titanium core.
Alternatively you could use a View-based solution that acts like a tab-group, e.g. ScrollableView with my [paging-control](https://github.com/manumaticx/pagingcontrol) widget.

[2016-08-01 19:17] prashantsaini1 opened #71 "Status bar is not semi-transparent, it rather has a black-color gradient from top and the color fades from black to the action bar color."
I tried the demo app you have added with this module and it seems that there is no way to remove the black color gradient at the top of the status bar.

This gradient has black color and action bar color.

Please see the attached image and advise how to achieve the status bar exactly as you have displayed in the image at home page.

![screenshot_2016-08-02-00-43-26](https://cloud.githubusercontent

[2016-08-01 20:44] manumaticx commented on #71
Hi,
is that android 4.x you are testing with?
See this image for the difference:
![](http://blog.raffaeu.com/wp-content/uploads/Android-and-the-transparent-status-bar_1146A/image_6.png)

[2016-08-02 06:08] prashantsaini1 commented on #71
No, it was Lollipop version 5.0.2 on two different devices - Samsung Galaxy On5 & Samsung Galaxy Core Prime.

But I just checked it on Moto E2 - Android version 5.1 and it is showing correctly.

![aa](https://cloud.githubusercontent.com/assets/20779626/17318609/2032cd5e-58a5-11e6-8a24-6444c11a8845.png)

If it is showing a gradient, then can we not make it look like the upper screenshot?

One last

[2016-08-02 08:05] manumaticx commented on #71
I'm afraid that this is a firmware related system behavior and you won't have any influence on that from within the module. At least I don't know how this could be achieved.

The Drawer Widget should not have any impact on the Drawer appearance itself. It's an API wrapper. If your Theme is set up correctly, everything should be fine.

[2016-08-02 14:17] prashantsaini1 commented on #71
Many thanks for your prompt replies.

I tested it deeply and found that Samsung Galaxy On5 (android 5.1.1) + Samsung Grand Prime (Android 5.0) devices both show a gradient kind of status bar..but Moto E2 (Android 5.1) device is showing it correctly. So, yes I believe that it is something related to firmware and still not sure why all google apps in my both samsung device are having the correct dra

[2016-08-02 14:36] manumaticx commented on #71
I _thought_ it has to be something like a Samsung issue but if it does nor affect all of the Apps, maybe there is a solution for this. To be honest, I don't know and I actually have never seen this status bar gradient on my devices (Nexus) so I never had to think about it.

If you do find something please let me know. I'll close this issue for now.

[2016-08-02 14:36] #71 closed

[2016-08-02 15:10] prashantsaini1 commented on #71
I will try to find out the solution of this gradient as I came around some posts which shows how to do this on Samsung devices. I will surely update you here. Thanks

[2016-08-18 22:12] asiby opened #72 "Memory leak caused by the Ti.DrawerLayout"
Hi guys

Is it me? Or this module is causing major leak in windows? I have just noticed that the only way to avoid a leak is to not use the left view at all. No matter what we set the left view to, it will cause the entire window to stay retained.

I was just looking at the code in Drawer class and there this no way to set the leftView to null or to remove it before closing the window. And the cod

[2016-08-22 08:57] manumaticx commented on #72
Hi @asiby

What Titanium Version are you using?

As discussed in #29 this bug was already researched. Can you confirm that the bugfix for [TIMOB-19891](https://jira.appcelerator.org/browse/TIMOB-19891) did not solve this issue? Otherwise, it might still be a bug in this drawer module.

Thanks for your report.

[2016-08-25 20:49] asiby commented on #72
Thanks for answering.

I am using Titanium SDK 5.3.1 and some of my colleagues are using Ti SDK 5.4.0 with the same result.

I can confirm that if TIMOB-19891 is applied to the SDK we have (5.3.1 and 5.4.0), then we are still having a leak.

We have made some tests with simple windows containing no drawer and we couldn't notice any leak. But as soon as we use the drawer, we notice a leak.

I went

[2016-08-25 22:17] manumaticx commented on #72
@asiby Thanks for this awesome investigation.

Would you mind creating a pull request for this `destroy` method?

In the meantime I'll have a look at the centerView trying to find what's leaking.

[2016-08-26 15:29] asiby commented on #72
Sure. I will send it right after this message.

[2016-08-26 16:30] asiby commented on #72
Please let me know if you need anything from me (additional testing, coding, etc.).

Thanks

[2016-09-02 08:42] grazianogrespan commented on #72
Hi all!
I did some tests with android monitor and I can confirm this bug, on 5.4.0 GA with 1.4.2 module version, I would like to help you but I'm not so skilled in module development...hope will be fixed soon.

[2016-09-02 19:32] manumaticx commented on #72
Sorry guys, I've just been a little busy these days. I'll try to finish the PR asap. Thanks a lot for your help! Really appreciate this. The bugfix will be released with the next minor version, hopefully I'll be able to push it this weekend.

[2016-09-07 14:28] asiby commented on #72
Hi guys

Do you think that using `java.lang.ref.WeakReference` (and the related programming patterns) for the references to the left view, center view and right view might help?

I have never used it, but it seem to be a common practice in many Android libraries that I came across.

Cheers

[2016-09-14 08:52] AndreaVitale commented on #72
I'm too interested on a fix for this, waiting for it! Thanks for your work guys!

[2016-09-16 21:46] asiby opened #74 "java.lang.IllegalArgumentException: No drawer view found with gravity LEFT"
I get the following when I try to close several windows one after another and that app crashed.

Has anyone had the same experience before?

Thanks

[ERROR] TiApplication: (main) [2299,133820] Sending event: exception on thread: main msg:java.lang.IllegalArgumentException: No drawer view found with gravity LEFT; Titanium 5.3.1,2016/06/09 01:34,ee11b10
[ERROR] TiApplication: java.lang.IllegalArgume

[2016-09-16 22:10] asiby commented on #72
I have also found that .setDrawerListener() is being used but .removeDrawerListener() is never called. That may be a thing to take a closer look at. I am writing all this while I am analyzing the code just in case someone else manages to fix it before me.

[2016-09-28 08:54] SamBishop25 commented on #43
how did you resolve this issue?

[2016-09-29 18:57] Prakhs commented on #43
I was having window in one of my widget and that was causing the problem,
and this widget was required in a window. So you can check your code and
you can change that window to view.

On Wed, Sep 28, 2016 at 2:24 PM, SamBishop25 <notifications@github.com>
wrote:

[2016-10-26 05:25] prashantsaini1 opened #75 "android:paddingTop="24dp" is missing in the drawer_main.xml file of the module if downloaded from dist folder"
Hi,

The issue I reported here on this module : **https://github.com/manumaticx/NavigationDrawer-Demo/issues/1** is the same I am going to put the solution for.

**_android:paddingTop="24dp"_** is missing in the **drawer_main.xml** file of the module if downloaded from dist folder.

If we use the module from the demo app modules folder, then padding line is present in **drawer_main.xml**

[2016-10-26 11:47] manumaticx commented on #75
This is by design. You have to add the padding manually as stated [here](https://github.com/manumaticx/Ti.DrawerLayout/blob/master/documentation/index.md#tricks--pitfalls). The reason for this is that there are two ways of using the drawer depending on the Theme that is used. I decided to add no padding by default as it is easier to add by yourself if needed than removing it. (Either by adjusting

[2016-10-26 11:48] #75 closed

[2016-10-26 15:02] prashantsaini1 commented on #75
Thanks for clarifying all doubts and now it works as expected after following your advises.

[2016-11-14 15:19] Astrovic opened #77 "Titanium SDK 6.0.0 support?"
Titanium 6.0.0 needed all native modules to be recompiled against the latest V8 version.

[2016-11-17 15:09] NLKok commented on #77
+1

[2016-11-17 17:52] mebarg commented on #77
yes we need a new build please

[2016-11-18 10:34] grazianogrespan commented on #77
Hi all!  if anyone needs a recompiled version of the module I can drop it here.
If you have other modules to recompile with 6.0.0 GA you could just follow this guide, it is very easy.
[http://skypanther.com/2016/10/rebuilding-modules-for-titanium-6/](url)

[com.tripvi.drawerlayout-android-2.4.2.zip](https://github.com/manumaticx/Ti.DrawerLayout/files/599707/com.tripvi.drawerlayout-android-2.4.2.zi

[2016-11-20 13:40] #77 closed

[2016-11-21 22:56] mebarg opened #79 "App not restarting"
when i press the back button in the app and android send the app to background and i select the icon only the splash screen is visible.
I tried the recommended solution but nothing works

thanks

[2016-11-21 23:19] manumaticx commented on #79
Does this happen with the demo app?
Any Exceptions thrown?
Can you post the stack trace?

[2016-11-21 23:19] manumaticx commented on #79
Does this happen with the demo app?
Any Exceptions thrown?
Can you post the stack trace?

[2016-12-09 04:57] mebarg commented on #79
yes this happens with the demo app too

the console says on restarting the app
 TiRootActivity: (main) [0,0] checkpoint, on root activity create, savedInstanceState: null

how i get the stack trace?

[2016-12-09 06:14] mebarg commented on #79
removing this resolves the problem but the app runs slow
<property name="run-on-main-thread" type="bool">true</property>

[2016-12-09 21:51] mebarg commented on #79
if i remove run-on-main-thread the app works in development (emulator and device) but not compiled in the device
it exit at the moment of opening the drawer

[2016-12-10 02:42] manumaticx commented on #79
Thanks for your insights. I'll investigate soon.

[2016-12-27 17:56] AndreaVitale commented on #72
Any update about this issue? Thanks.

[2017-02-20 17:59] ikalangita opened #80 "How to use with alloy?"
Hello,

Is it possible to specify leftView and rightView directly form alloy?, doing this the left view not appearing.

`
var leftView = $.leftView;//Ti.UI.createView({backgroundColor:'gray'}); `
`var centerView = $.rightView;//Ti.UI.createView({backgroundColor:'white'});`

Thanks

[2017-02-20 18:10] HazemKhaled commented on #80
use this widget for 1 code with iOS and Android
https://github.com/fokkezb/nl.fokkezb.drawer

[2017-03-14 21:01] bmlyon commented on #54
Can someone please update the official documentation to say that the generator is deprecated? I spent hours trying this and it says to use the generator. Then I found this forum thread saying that it's deprecated.

http://docs.appcelerator.com/platform/latest/#!/guide/Android_Themes still says to use the theme generator.

[2017-03-16 11:13] ManasMack opened #81 "the 'com.tripvi.drawerlayout' module is not supported by titanium sdk 6.0.2 GA"
getting the 'com.tripvi.drawerlayout' module is not supported by titanium sdk 6.0.2 GA error message in tiapp.xml file even if modules latest verions 2.0.0 is added.

[2017-03-16 11:55] manumaticx commented on #81
Since this should be solved in #78 maybe @HazemKhaled can help here?

@ManasMack Are you sure the project builds with the updated module and there is no older version (locally or globally) installed that mistakenly gets packaged?

[2017-04-04 03:45] danny005 commented on #67
Shouldn't this issue be opened instead of closed? Still waiting for a bugfix, thanks!

[2017-06-21 11:22] skoften opened #83 "Can't set or limit orientation modus for the window"
I need to allow only portrait on the window, but the orientation argument seem to get ignored.

Using SDK 6.1.0.GA

edit: nevermind, my bad. It's a view inside my own window, doh.. ;]

[2017-06-21 13:00] #83 closed

[2017-06-21 13:00] manumaticx commented on #83
;)

[2017-07-10 14:23] #80 closed

[2017-07-21 16:28] R4mpancy commented on #81
Not sure if I experienced the same problem, but with a different Ti SDK. Any SDK I specified was showing up as not supported. My error was that when loading the module into my project I was loading the master zip file, not the version specific zip in the master's dist folder. Could be the same issue ManasMack is experiencing.
The module works great though and I'm very happy with it!

[2017-08-04 17:17] AhmedMohamed2014 opened #85 "Make Actionbar supporting RTL"
please can you make actionbar supporting RTL to put hamburger menu icon and title on right side.

[2017-08-07 08:42] manumaticx commented on #85
It should work if you use this in you manifest:

[code]

Doesn't it?

[2017-08-08 15:29] AhmedMohamed2014 commented on #85
Thanks manumaticx it's worked

[2017-08-08 15:32] #85 closed

[2017-08-08 15:33] manumaticx commented on #85
Perfect :)

[2017-08-18 02:24] HazemKhaled commented on #85
@AhmedMohamed2014 this can help
https://github.com/HazemKhaled/Titanium_RTL_guide

[2017-09-28 12:47] caspahouzer opened #86 "libstlport_shared.so not found"
Hi, I got this error in every SDK since 6.0.0.GA

What can I do??

[2017-09-28 12:58] caspahouzer commented on #86
Sorry, fails with an other module not ready for 6.0.0

[2017-09-28 12:58] #86 closed

[2017-12-18 11:28] #72 closed

[2017-12-18 11:29] drauggres commented on #81
Support 7.0.0 now

[2017-12-18 11:29] #81 closed

[2017-12-27 09:01] skoften opened #88 "Fatal exception on SDK 7.0.1.GA"
It doesn't happen every time, but I often get a fatal exception after starting up the app, and setting the left, center and right window. App crashes instantly.

Error:

[code]

[2017-12-27 09:20] drauggres commented on #88
Hi. What do you set to left view?

[2017-12-27 09:26] skoften commented on #88
Hi,

A view with a tableView. It's the main menu:

[code]

menuWindow.xml

[code]

I add the view after the drawer window has opened. But that shouldn't make a difference right?

[2017-12-27 10:09] drauggres commented on #88
Right.

Please try this build:
https://github.com/drauggres/Ti.DrawerLayout/releases/download/3.0.1-bug%2F88/com.tripvi.drawerlayout-android-3.0.1.zip
This is not a fix, just for understanding where the bug is. App will not crash at this point, instead it will put errors in log. Please look for "left view is null" and paste lines after it here.

[2017-12-27 13:59] drauggres commented on #88
I think, bug is in 7.0.0 SDK ([here](https://github.com/appcelerator/titanium_mobile/commit/58ffbd5147faa90259d805957ab8957c7a84b912#diff-bec22e2efdd8b352a7754ea42f435dc7R487)). If so, you will see `activity is destroyed` in log right after `left view is null`.

[2018-01-09 10:21] drauggres commented on #88
@skoften Try [3.0.1](https://github.com/manumaticx/Ti.DrawerLayout/releases/tag/3.0.1). Should be fixed.

[2018-01-09 11:54] skoften commented on #88
Thanks, works!

[2018-01-09 12:06] skoften opened #90 "center views seem to be recycled/reset or something"
Sorry for the title, but I don't understand what is happening here. I'll try to explain.

We've been using the DrawerLayout for quite a while, but since latest version (on SDK 7.0.1.GA) things have changed.

My situation: every time a new center view is created I store this view in a global object, so I can access it later and set it as center view again. This way nothing changes for the user; the

[2018-01-09 12:11] #88 closed

[2018-01-09 12:28] drauggres commented on #90
Recently `DrawerLayout` was integrated in SDK, probably you should try to use [it].(http://docs.appcelerator.com/platform/latest/#!/api/Titanium.UI.Android.DrawerLayout)

But I think problem is in SDK itself (#88 exists in integrated version). Too many bugs in last releases (I still use 6.0.4 in my apps).

Would be nice if you'll try to reproduce bug in test app without drawer layout (I'm pretty s

[2018-01-09 13:01] drauggres commented on #90
In demo app manumaticx does not use `setCenterView` instead he adds/removes views to/from `centerView`.
https://github.com/manumaticx/NavigationDrawer-Demo/blob/master/app/controllers/index.js#L44
https://github.com/manumaticx/NavigationDrawer-Demo/blob/master/app/alloy.js#L60

[2018-01-31 10:01] marconealberto commented on #4
it's still crashing on my side. I tried to wrap the mapView in a View but it still crashes.

[code]

[2018-02-05 14:39] marconealberto commented on #31
this is still happening on my side.

Ti.DrawerLayout 3.0.1
TiSDK 7.0.0.GA
Android 7.0

The app simply crashes if you put a map as a central view, despite what it's in the ticket.

[2018-02-05 14:50] manumaticx commented on #31
@marconealberto can you add the Exception from catlog please?

[2018-02-05 15:12] marconealberto commented on #31
ok, found the problem and a workaround:

I tried with this simple code:

[code]

and I was getting:

I made it wait till the window was open:

[code]

and it's working. Still don't know what it will happen on a real device.

[2018-02-20 14:46] grazianogrespan commented on #90
Hi all!
I have the same workflow as @skoften and the same issue with new releases of this module with  7.0.2GA sdk version.
In my case the issue is caused by this [line](https://github.com/manumaticx/Ti.DrawerLayout/blob/master/android/src/com/tripvi/drawerlayout/Drawer.java#L391) .
@drauggres releasing the centerView all the Java proxies are destroyed; so, for example, if we have stored in a glob

[2018-02-20 14:51] skoften commented on #90
Hi, I recently integrated the DrawerLayout from the SDK: http://docs.appcelerator.com/platform/latest/#!/api/Titanium.UI.Android.DrawerLayout

This works great!

[2018-07-31 10:40] GenesisSelf commented on #86
Did you find a solution?

[2019-12-04 07:03] Topener opened #91 "Deprecate module"
Hi @manumaticx. Great work with this module! I've used it in the past myself, but considering it has been integrated now in the core, perhaps you can deprecate this repository and point people to the built-in version in the SDK?

https://docs.appcelerator.com/platform/latest/#!/api/Titanium.UI.Android.DrawerLayout

[2019-12-04 07:21] manumaticx commented on #91
Thanks, Rene. Good idea 👍